{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- blog section start -->
<div class="blog_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="about_taital">JaviFood Blog</h1>
            <div class="bulit_icon"><img src="{% static 'images/bulit-icon.png' %}"></div>
         </div>
      </div>
      <div class="blog_section_2">    
         {% for blog in object_list %}
            <div class="row">
               <div class="col-md">
                  <div class="blog_box">
                     <div class="blog_img"><img src={{ blog.cover }}></div>
                     <h3 class="prep_text">{{ blog.title }}</h3>
                     <h4 class="prep_text">{{ blog.author }}</h4>
                     {% comment %} <h4 class="date_text">{{ blog.added}}</h4> {% endcomment %}
                     <p class="lorem_text">{{ blog.summary }}</p>
                  </div>                  
                  <div class="read_bt"><a href="{% url 'post_detail' blog.slug %}">Read More</a></div>
               </div>
            </div>
         <div>
         {% endfor %}
      </div>
   </div>
</div>
<!-- blog section end -->
{% endblock content %}