{% extends 'base.html' %}
{% block content %}
<!-- banner section start --> 
<div class="header">
    <div class="banner_section layout_padding">
        <div class="container">
            <div class="related-widged-wrapper">
            <h2> {{ blog.title }} </h2>
            {% if user.is_authenticated and user == blog.author %}
                <a href="{% url 'blog_edit' blog.slug %}">
                    <span class="user_icon">
                        <i class="fa fa-pencil" aria-hidden="true">
                        </i>
                    </span> Modificar </a>
                <a href="{% url 'blog_delete' blog.slug %}">
                    <span class="user_icon">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </span> Eliminar </a>
            {% endif %}
            </div>
            <h3> Autor: {{ blog.author }} </h3>
            <img src="{{ blog.cover }}" alt=""/>
            <p> {{ blog.content }} </p>
            <h4> Publicado: {{ blog.added }} </h4>
            <h4> Última modificación: {{ blog.edited }} </h4>
        </div>
    </div>
</div>
<!-- blog section end -->
{% endblock content %}